#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "SB Heading", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}

#mainNav .navbar-brand {
  color: #fff;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
  text-transform: uppercase;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #c2af89;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #c2af89;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }

  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: font-size 0.3s;
  }

  #mainNav .navbar-nav {
    margin-top: 0;
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #c2af89;
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active,
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus,
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #c2af89;
  }

  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #343148;
  color: #fff;
}

.copyright {
  background-color: #1e1c2a;
}

.navbar-brand img {
  max-width: 13.5rem;
}

.btn-social {
  margin-bottom: 0.5rem;
}